
*{
    margin: 0;
    padding: 0;
}
  
.app{
   display: flex;
   justify-content: center;
  
}
.app .container{
    width: 1024px;
}
.app .container .link{
    text-decoration: none;
    color: inherit;
}


/* -------login and register--------- */

.app .container .auth{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: #b9e7e7;
     flex-direction: column;
}
.auth h1{
    font-size: 20px;
    color: teal;
    margin-bottom: 20px;
}
.auth form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    width: 200px;
    gap: 20px;
    border-radius: 5px;
}
.auth form input{
      padding: 10px;
      border: none;
      border-bottom: 1px solid grey;
}
.auth form button{
    padding: 10px;
    border: none;
    background-color: teal;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.auth form span{
    text-align: center;
    font-size: 12px;
}
.auth form p{
    color: red;
    font-size: 12px;
    text-align: center;
}

 /* -----Navbar------ */
 .navbar .container{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .navbar .container .links{
     display: flex;
     gap: 10px;
     align-items: center;
 }
 .navbar .container .logo img{
    width: 80px;
    height: 80px;
}
.navbar .container .links h6{
    font-size: 16px;
    font-weight: 300;
}
.navbar .container .links span{
    cursor: pointer;
}
.navbar .container .links .write{
    background-color: rgb(139, 210, 233);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}




