
*{
    margin: 0;
    padding: 0;
}
  
.app{
   display: flex;
   justify-content: center;
  
}
.app .container{
    width: 1024px;
}
.app .container .link{
    text-decoration: none;
    color: inherit;
}


/* -------login and register--------- */

.app .container .auth{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: #b9e7e7;
     flex-direction: column;
}
.auth h1{
    font-size: 20px;
    color: teal;
    margin-bottom: 20px;
}
.auth form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    width: 200px;
    gap: 20px;
    border-radius: 5px;
}
.auth form input{
      padding: 10px;
      border: none;
      border-bottom: 1px solid grey;
}
.auth form button{
    padding: 10px;
    border: none;
    background-color: teal;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.auth form span{
    text-align: center;
    font-size: 12px;
}
.auth form p{
    color: red;
    font-size: 12px;
    text-align: center;
}

 /* -----Navbar------ */
 .navbar .container{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .navbar .container .links{
     display: flex;
     gap: 10px;
     align-items: center;
 }
 .navbar .container .logo img{
    width: 80px;
    height: 80px;
}
.navbar .container .links h6{
    font-size: 16px;
    font-weight: 300;
}
.navbar .container .links span{
    cursor: pointer;
}
.navbar .container .links .write{
    background-color: lightskyblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

/* --------footer------- */

footer{
 margin-top: 100px;
 padding: 20px;
 background-color: lightskyblue;
 display: flex;
 align-items: center;
 justify-content: space-between;
 font: 12px;


}

footer img{
height: 50px;
border-radius: 50%;
}

/* -----Home------ */

.home .posts{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   gap: 150px;

}
.home .posts .post{
    display: flex; 
    gap: 100px;
    
   &:nth-child(2n+1){
    flex-direction: row-reverse;
   }
}

.home .posts .post .img{
    flex: 2;
    position: relative;
    &::after{
       content: "";
       width: 100%;
       height: 100%;
       background-color: lightskyblue;
       position: absolute;
       top: 20px;
       left: -20px;
       z-index: -1;
    }
    
}
.home .posts .post .img img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
.home .posts .post .content{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home .posts .post .content h1{
    font-size: 40px;
}
.home .posts .post .content p{
    font-size: 18px;
}
.home .posts .post .content button{
    width: max-content;
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    border: 1px solid teal;
    color: teal;
    border-radius: 4px;

}

.home .posts .post .content button:hover{
    background-color: lightskyblue;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
}

 /* ------single page-------- */


 .single .content img{
    width: 100%;
    height: 300px;
    object-fit: cover;
 }
 .single .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

 .single .content .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
 }
 .single .content .user{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
 }
 .single .content .user span{
         font-weight: bold;
 }
 .single .content .user .edit{
    display: flex;
    gap: 5px;
 }
 .single .content .user .edit img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
 }
 .single .content h1{
    font-size: 40px;
    color: #333;
    
 }
 .single .content p{
      text-align: justify;
      line-height: 30px;
 }

 /* ------write-------- */


 .add{
    margin-top: 20px;
    display: flex;
    gap: 20px;

 }
 .add .content{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .add .content input{
    padding: 10px;
    border: 1px solid lightgrey;
 }
 .add .content .editContainer{
    height: 300px;
    overflow: scroll;
    border: 1px solid lightgray;
 }
 .editContainer .editor{
    height: 100%;
    border: none;
 }

 .add .menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .add .menu .item{
    padding: 10px;
    border: 1px solid lightgray;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
 }
 .add .menu .item h1{
    font-size: 20px;
 }
 .add .menu .item .file{
    text-decoration: underline;
    cursor: pointer;
 }
 .add .menu .item .buttons{
    display: flex;
    justify-content: space-between;

    :first-child{
        cursor: pointer;
        color: teal;
        padding: 3px 5px;
        border: 1px solid teal;
        background-color: white;

    }
    :last-child{
        cursor: pointer;
        color: white;
        padding: 3px 5px;
        border: 1px solid teal;
        background-color: teal;

    }
 }

 .add .menu .item .cat{
    display: flex;
    align-items: center;
    gap: 2px;
    color: teal;
    
 }






